COMMERCE_ENDPOINT="https://www.aemshop.net/graphql/"
ANNOUNCEMENTS_ENDPOINT="https://announcements-api.apimesh-adobe-test.workers.dev"
# Warehouse Runtime Action base URL
WAREHOUSE_BASE_URL="https://1841301-553gainsborohornet-stage.adobeioruntime.net/api/v1/web/warehouse-app/warehouse-lookup"
CATALOG_SERVICE_GRAPHQL_ENDPOINT="https://www.aemshop.net/cs-graphql"
CATALOG_API_KEY="f38a0de0-764b-41fa-bd2c-5bc2f3c7b39a"